body {
    margin: 0;
    background: repeating-linear-gradient(134deg,#FFFFFF,#4B0082);
    background-size: 200%;
    background-attachment: fixed; /* Esto hace que el fondo sea fijo */
    background-repeat: no-repeat;
}

header a {
    color: #FFFFFF;
}

a{
    color:red;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #003366;
    display: flex;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header img{
    width:40px;
    height:40px;
    margin-top:20px;
    margin-right:15px;
    margin-left:15px;
}

#botons {
    display:flex;
    position:fixed;
    right:5%;
}
    #botons a {
        margin-right: 10px;
        text-decoration:none;
        text-align:right;
    }
a:hover { 
    color: rgb(209 23 217);
    }

.seccion h2, h3 {
    text-align: center;
}
.seccion h2 {
    border-top: 1px solid black;
}

#Sobremi{
    margin-top:66px;
}
#Datos {
    display: flex;
    margin-top: -20px;
    flex-wrap: wrap;
}
#Sobremi img {
    width: 120px;
    height:160px;
    border-radius: 100px;
    margin-left: 50px;
}
#MasDatos {
    margin-left: 20px;
}

#Conocimientos {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
}
#items {
    display: flex;
}
#QuienSoy {
    width: 70%;
    margin-left: 30px;
}

#Juegos{

}


.EsqueletoJuego {
    display: flex;
    width: 50%;
}
.TextoySaberMas {
    display: flex;
    flex-wrap: wrap;
}
    .TextoySaberMas a {
        text-decoration: none;
        text-align:end;
        font-size:20px;
    }
.JuegosMasVideo{
    display:flex;
}
.EsqueletoJuego p{
    margin:40px;
}
.EsqueletoJuego img {

    width: 300px;
    height: 300px;
    margin:15px;
}

#PieDePagina {
    position: fixed;
    bottom: 0;
    background-color: #003366;
    width: 100%;
    display: flex;
    justify-content: center;
}
#PieDePagina p{
    margin: 5px 100px 5px 0px;
}
#PieDePagina a{
    color:white;
}


@media screen and (max-width: 1000px){
    .EsqueletoJuego {
        display: flex;
        flex-direction:column;
    }
    #Conocimientos {
        display: flex;
        margin-top: -30px;
    }
}