body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 90%;
    margin: auto;
    overflow: hidden;
     margin-bottom: 60px;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

header img {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right: 10px;
}

header h2 {
    float: left;
}

#botons {
    float: right;
    margin-top: 10px;
}

#botons a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    font-size: 18px;
    text-align: center;
}

#botons a:hover {
    background: #0779e4;
    color: #fff;
    border-radius: 5px;
}

#Datos,
#Juegos,
#Referencias {
    margin: 20px 0;
    padding-top: 100px; /* Add padding to avoid overlap with fixed header */
}

#Datos img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 10px;
}

#Datos #QuienSoy,
#Datos #MasDatos,
#Datos #Conocimientos {
    margin: 10px 0;
}

#Datos #Conocimientos ul {
    list-style: none;
    padding: 0;
}

#Datos #Conocimientos ul li {
    background: #333;
    color: #fff;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.seccion {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px #ccc;
}

.seccion h2 {
    color: #333;
    margin-bottom: 10px;
}

.JuegosMasVideo {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align items horizontally */
}

.EsqueletoJuego {
    display: flex;
    align-items: center;
    width: 90%; /* Limit width of the video container */
}

.EsqueletoJuego img {
    width: 200px;
    height: 150px;
    margin-right: 20px;
    border-radius: 10px;
}

.TextoySaberMas {
    flex: 1;
}

.TextoySaberMas p {
    margin-bottom: 10px;
}

.SaberMas a {
    color: #0779e4;
    text-decoration: none;
}

.SaberMas a:hover {
    text-decoration: underline;
}

iframe {
    width: 90%; /* Limit the width of the iframe */
    max-width: 800px; /* Optional: Set a maximum width */
    aspect-ratio: 16 / 9;
    margin: 20px 0;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
     display: flex;
    justify-content: center;
}

footer img{
width:20px;
height:20px;
margin:3px;
    margin-top: 17px;
}
